# Terraform
*.tfstate
*.tfstate.*
*.tfstate.backup
.terraform/
crash.log
crash.*.log
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc

# .terraform.lock.hcl 은 커밋한다 (provider 핀)
!.terraform.lock.hcl

# misc
.DS_Store
tfplan
